@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Angelo Walsh<br />
    Revature<br />
    Herndon, VA<br />
    <abbr title="Phone">P:</abbr>
    619.621.1587
</address>


