@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Pizza Pizza Website</h1>

<div class="button"><button type="submit" value="1">Place Order</button>
    
        <div class="button"><button type="submit" value="2">Search Users</button>
          
          
                            <div class="button"><button type="submit" value="3">Exit</button>
