@{
    ViewData["Title"] = "Home Page";
}
<h1>Pizza Pizza Website</h1>

@{
    <text>Welcome to Pizza Pizza. What would you like to do today?</text><br /><br />
    <text>1: Place Order</text><br />
    <text>2: Get Suggest Order</text><br />
    <text>3: Search Users</text><br />
    <text>4: Display Order Details</text><br />
    <text>5: Display Order History</text><br />

}


<div class="button">
    <button type="submit" value="1">Place Order</button>
</div>

<div class="button">
    <button type="submit" value="2">Search Users</button>
</div>


<div class="button">
    <button type="submit" value="3">Exit</button>
</div>
